.navegacao a{
    float: right;
    display: block;
    color: rgb(32, 24, 24);
    text-decoration: none;
    text-align: right;
    padding: 10px 10px;
}

.navegacao a:hover{
    color: #e32936;
    background-color: black;
}


.principal h2 {
    color: #2e4159;
    text-align: right;
    padding: 10px 10px 10px;
    background-color: rgb(19, 18, 18);
    text-align: center;
}

.rodape{
    color: rgb(216, 25, 25);
    font-size: 10px;
    text-align: center;
    padding: 20px;    
}

@media screen and (max-width: 800px){
    .principal, .conteudo.central, .conteudo.lateral{
        width: 100%;
        padding: 0;   
          
    }
}